<phpunit backupGlobals="false" 
         backupStaticAttributes="false" 
         bootstrap="tests/bootstrap.php" 
         colors="true" 
         convertErrorsToExceptions="true" 
         convertNoticesToExceptions="true" 
         convertWarningsToExceptions="true" 
         stopOnFailure="false" 
         syntaxCheck="false"> 
    <testsuites>
        <testsuite name="WebSocket Client Test Suite">
            <directory>./tests/src/WebSocketDemo/</directory>
        </testsuite>
    </testsuites>
    <php>
        <var name="port" value="8000" />
    </php>
</phpunit>
